:root{
    --header-dark:rgb(37, 37, 37);
    --light-color: rgb(209, 207, 207);
    --body-color: rgb(51, 51, 51);
}
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    text-align: center;
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
}
.app-name{
    font-size: 5em;
    font-weight: 400;
    color: rgb(34, 34, 192);
}
.home-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.git-club-signin{
    font-size: .7em !important;
}
.header{
    max-width: 100%;
    width:  100vw;
    height: 10vh;
    color: var(--light-color);
    background-color: var(--header-dark);
    padding: 0em;
    display: flex;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
}
.profile-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.profile-top img{
    width: 20vw;
    padding: 1em;
    border-radius: 50%;
}
.names{
    font-weight: normal;
}
.names span{
    font-size: 1.1em;
}
.location, .email, .twitter{
    font-size: .95em;
}
.dot{
    color: red;
}
.follower-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1em;
}
.profile-bottom{
    text-align: left;
    padding: 1em;
}
.icons{
    font-size:  19px !important;
    margin-right: .4em;
    color: rgb(87, 87, 87);
}
.edit-profile, .search-repo, .repo-type, .repo-language, .new-repo{
    height:2em;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    font-weight: 420;
    font-size: .95em;
    background-color: rgb(249, 250, 252);
    border-radius: .4em;
    border: 1px solid rgb(233, 230, 230);
}
.top-bar{
    display: none;
    justify-content: flex-start;
    align-items: center;
}
.search-repo{
    max-width: 38.5vw;
   background-color: white;
   padding-left: 1em;
   margin-right: 1em;
}
.repo-type, .repo-language, .new-repo{
    width: fit-content;
    margin-right: 1em;
    height: 2.5em;
}
.new-repo{
    border: none;
    color: white;
    background-color: rgb(79, 167, 79);
    padding-right: 1em;
    padding-left: 1em;
}
li{
    list-style-type: none;
}
.headings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -2.5em;
    margin-bottom: 2em;
}
.headings li{
    margin-right: 2em;
    margin-top: 2em;
    font-size: .95em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
}
.pinned-item{
    border: 1px solid rgb(156, 154, 154);
    margin: auto;
    margin-bottom: 1em;
    max-width: 90vw;
    border-radius: .2em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.twitter, .location{
    display: flex;
    align-items: center;
}
